@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.Games {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #001E3A;
    background-color: #f6f4f1;
}

.GamesTitle {
    width: 100vw;
    text-align: center;
    margin: 35px 0;
    font-size: 64px;
    line-height: 64px;
    font-weight: bold;
}

.GamesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px; /* Space between the grid items */
    justify-content: center;
    padding: 0 20px;
    margin-top: 20px;
}

.GameCard {
    width: 45vw;
    height: 25vh;
    border-radius: 25px;
    filter: brightness(0.9);
    box-shadow: 0px 0px 15px #00000075;
    transition: transform 0.3s;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: 900;
    text-align: center;
    text-decoration: none; 
}

.GameCard:hover {
    transform: scale(1.05); 
}

.GamesContainer a {
    text-decoration: none;
    color: inherit; 
}

.NHIE {
    background-image: radial-gradient(#001E3A 0%, #40607D 110%);
}

.WIMLT {
    background-image: radial-gradient(#E89900 0%, #B40000 110%);
}

.TOT {
    background-image: radial-gradient(#013A00 0%, #407D58 110%);
}

.MTW {
    background-image: radial-gradient(#f07167 0%, #4d1948 110%);
}

.CH {
    background-image: radial-gradient(#0680c2 0%, #031a46 110%);
}

.TicTacToe {
    background-image: radial-gradient(#26c8a2 0%, #0c3b30 110%);
}

.FourPicsOneWord {
    background-image: radial-gradient(#99bcc4 0%, #02333c 110%);
}

.EQ{
    background-image: radial-gradient(#532616 0%, rgba(188, 104, 51, 0.667) 110%);
}